/* Стили CSS для сайта портфолио*/
/* Макет: Фиксированная ширина, навигация слева */
.container 
{ 
    width: 1000px;
	height: auto;
	/*margin-top: 20px;
	margin-left: 232px;
	margin-right: 232px;
	margin-bottom: 20px;*/
	margin: 0 auto;
	border: 4px hidden red;
}
.header 
{
	height: 200px;
	margin: 8px;
	padding: 8px;
	border: 8px ridge rgb(228, 0, 0);
	background-color: moccasin;
	outline-color: blue;
}
.sidebar 
{
	float: left;
	width: 280px;
	height: 500px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	padding: 8px;
	border: 4px outset rgb(0, 0 ,213);
	background-color: rgb(184, 188, 245);
}
.content 
{
	float: left;
	width: 656px;
	height: 500px;
    margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 8px;
	border: 4px outset gold;
	overflow: auto;
	background-color: seashell;
}
.footer 
{
	clear: left;
	width: 968px;
	height: 72px;	
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	padding-top: 16px;
	padding-left: 8px;
	border: 4px outset orange;
    background-color: white;
    background-image: url(univer_logo.png);
	background-repeat: no-repeat;
    background-position: right;	
	background-color: rgb(255,252,252);
}
.header h1 
{ 
    float: left;
	margin-top: 72px;
	margin-left: 40px;
	font-size: 34px;
	font-family: Mistral, Cursive;
	color: rgb(213,0,0);
	text-shadow: 4px 8px 13px #ff0028;
}
.portret 
{
    height: 192px;
	width: 137px; 
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
	padding: 2px;
	border: 2px hidden red;
}
.portret img {
    border-radius: 20px/32px;
}
.content p 
{
	white-space: normal;
	word-break: normal;
	hyphens: auto;
	text-align: justify;
	text-align-last: left;
    word-spacing: normal;
	letter-spacing: normal;
	text-indent: 2em;
	font-size: 16px;
	font-family: "Times New Roman", Arial, serif;
	font-weight: normal;
	font-style: italic;
}
.content p span 
{
	margin-left: 2em;
}
.photo_univer 
{
	display: inline-block;
	float: right;
	margin-top: 20px;
	margin-right: 4px;
	margin-bottom: 13px;
	margin-left: 13px;
	border: 2px hidden black;
	background-color: #fcfa72;
}
.photo_univer img 
{
	width: 300px;
	height: 200px;
}
.photo_univer p 
{
	margin-top: 4px;
	margin-left: 40px;
	margin-bottom: 4px;
}
#progress 
{
	float: right;
	border: 4px inset rgb(228, 8, 8);
	border-collapse: separete;
	border-spacing: 4px;
    table-layout: auto;
	margin-top: 20px;
	background: -webkit-linear-gradient(225deg, rgb(130, 248, 246) 28%, rgb(243, 172, 172) 55%, rgb(22, 96, 173));
    background: -moz-linear-gradient(225deg, rgb(130, 248, 246) 28%, rgb(243, 172, 172) 55%, rgb(22, 96, 173));
    background: linear-gradient(225deg, rgb(130, 248, 246) 28%, rgb(243, 172, 172) 55%, rgb(22, 96, 173));
	color: rgb(255,255,255);
}
#progress td
{
	border: 1px solid rgb(228, 8, 8);
	padding: 4px;
}
#progress table
{
	border: 1px solid rgb(228, 8, 8);
	border-collapse: collapse;
	width: 200px;
	color: rgb(0,0,0);
}
#progress table td
{
	border: 0px;
	padding: 0px;
	text-indent: 4px;
}
.sidebar a 
{
	display: block;
	height: auto;
	width: auto;
	padding: 13px;
	border: 2px dotted blue;
	font-size: 20px;
	text-decoration: none;
	font-family: "Times New Roman", Arial, serif;
	font-style: italic;
	border-radius: 10px;
    color: #36454A;
    background: -webkit-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: -o-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: linear-gradient(to top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    box-shadow: 2px 2px 3px black;
	
}
.sidebar a:hover
{
    background: -webkit-linear-gradient(bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: -o-linear-gradient(bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: linear-gradient(to bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
}
#Epam 
{
	margin-left: 0em;
	border: 2px dotted blue;
	padding: 4px;
	text-decoration: none;
	color: blue;
}
#Nix 
{
	margin-left: 0em;
	border: 2px dotted red;
	padding: 4px;
	text-decoration: none;
	color: red;
}
.list_1  
{
    list-style: none;
    padding: 0;
}
.list_1 li 
{
    padding: 5px 30px;
    /*background: linear-gradient(to left, #f8ab8d 10%, white, #f8ab8d);*/
    background: linear-gradient(45deg, rgb(252, 44, 17), rgb(254, 253, 79), rgb(241, 62, 29));
    border-bottom: 1px solid grey;
    color: black;
    font-size: 16px;
	width: 250px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, 0.2);
    margin-bottom: 4px;
}
.first li:last-child 
{
	border-bottom: none;
}
li:hover {
	color: #fff;
}
.footer span 
{
	font-family: "Times New Roman", Arial, serif;
	font-size: 16px;
	font-style: normal;
}
body
{
	background: -webkit-linear-gradient(45deg, rgb(241, 233, 206) 3%, rgb(141, 141, 228), rgb(255, 175, 135));
    background: -moz-linear-gradient(45deg, rgb(241, 233, 206) 3%, rgb(141, 141, 228), rgb(255, 175, 135));
    background: linear-gradient(45deg, rgb(241, 233, 206) 3%, rgb(141, 141, 228), rgb(255, 175, 135));
	background-attachment: fixed;
}
.header h1::before
{
    content: open-quote;
}
.header h1::after
{
    content: close-quote;
}
h1 {
	quotes: '“' '”';
}
#text::first-letter {
	color: red;
	font-size: 20px;
}
#fio:hover::first-line {
	color: rgba(252, 0, 0, 0.8);
	font-style: normal;
}

	
	
	